<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (~{::title='Usuários'})"></head>
<body>
<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Usuários</h2>
  <div>
    <a class="btn btn-success" th:href="@{/usuarios/novo}">Novo Usuário</a>
    <a class="btn btn-secondary" th:href="@{/}">Voltar à Página Principal</a>
  </div>
</div>


<table class="table table-hover">
  <thead><tr><th>Nome</th><th>Email</th></tr></thead>
  <tbody>
    <tr th:each="u : ${usuarios}">
      <td th:text="${u.nome}"></td>
      <td th:text="${u.email}"></td>
    </tr>
  </tbody>
</table>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
